<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Display notifications as full screen activities on a locked device -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action
                android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.facebook.katana" />
    </queries>
    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.android.vending" />
        <package android:name="com.amazon.venezia" />
        <package
            android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.huawei.appmarket" />
    </queries>
    <application
        android:resizeableActivity="true"
        android:name="org.bearmod.container.BoxApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="${randomName}"
        android:largeHeap="true"
        android:debuggable="false"
        android:layoutDirection="locale"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:debuggable,android:label"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">
    
        <activity
            android:name="org.bearmod.container.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.bearmod.container.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.bearmod.container.activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme" />




        <activity
            android:name="org.bearmod.container.activity.CrashActivity"
            android:exported="false"
            android:process=":crash_handler"
            android:launchMode="singleTask"
            android:excludeFromRecents="true" />



        <service android:name="org.bearmod.container.floating.Overlay" />

        <service android:name="org.bearmod.container.floating.FloatingService" />
        <service android:name="org.bearmod.container.floating.ToggleBullet" />
        <service android:name="org.bearmod.container.floating.FightMod" />
        <service android:name="org.bearmod.container.floating.ToggleAim" />
        <service android:name="org.bearmod.container.floating.ToggleSimulation" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
</manifest>
